.container{
  height: 100%;
}

.if-card{
  width: 68%;
  background: #48E0A1;
  -webkit-box-shadow: 10px 10px 33px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 33px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 33px -10px rgba(0,0,0,0.75);
  height: 400px;
  border-radius: 8px;
  padding: 10px;
}
