.btn-success {
  background: #48e0a1;
  color: #000000;
}

.btn-success:hover {
  background: #52FFB8;
  color: #000000;
}

.btn-primary{
  background: #4b00ff;
  color: #ffffff;
}

.btn-primary:hover{
  background: #5918ff;
  color: #ffffff;
}
